{% extends 'overall/layout' %}
{% block appHeader %}
  <!-- DataTables -->
  <link rel="stylesheet" href="views/theme/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <style>
    .example-modal .modal {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      display: block;
      z-index: 1;
    }

    .example-modal .modal {
      background: transparent !important;
    }
  </style>
{% endblock %}

{% block appBody %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Docentes
        <small>Guarderia</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Docente</a></li>
        <li class="active">Listado de Docente</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Listado de Docentes</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
               <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                 <select id="criterio_personal" class="select">
                    <option value="fecha_nacimiento">Fecha de nacimiento</option>
                    <option value="nacionalidad">Nacionalidad</option>
                    <option value="sexo">Sexo</option>
                 </select>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-7">
                  <input type="text" class="form-control" placeholder="Introduce los datos a buscar" id="data_personal">
                </div>

                <div class="col-xs-12 col-sm-2 col-md-2">
                   <button type="button" id="busqueda_criterio_personal" class="btn btn-primary btn-lacra">Buscar</button>
                </div>
              </div>
              <div class="table-responsive">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Cedula</th>
                    <th>Guarderia</th>
                    <th>Direccion</th>
                    <th>Teléfono</th>
                    <th>Nivel De Estudio</th>
                    <th>Sueldo</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for p in personal %}
                      <tr>
                          <td>{{ p.nombre }} {{ p.apellidos }}</td>
                          <td>{{ p.cedula }}</td>
                          <td>{{ p.guarderia }}</td>
                          <td>{{ p.direccion }}</td>
                          <td>{{ p.telefono }}</td>
                          <td>{{ p.nivel_estudio }}</td>
                          <td>{{ p.sueldo }}</td>
                          <td><a type="button" data-toggle="modal" data-target="#modal_editar_personal" onclick="editar_personal('{{ p.id_personal }}','{{ p.nombre }}','{{ p.apellidos }}','{{ p.cedula }}','{{ p.id_guarderia }}','{{ p.direccion }}','{{ p.telefono }}','{{ p.nivel_estudio }}','{{ p.sueldo }}')"><i class="fa fa-edit"></i></a></td>
                          <td><a type="button" href="personal/eliminar/{{ p.id_personal }}"><i class="fa fa-trash"></i></a></td>
                      </tr>
                  {% endfor %}
                  </tbody>



                </table>
                <button type="button" class="btn btn-block btn-primary btn-flat" data-toggle="modal" data-target="#modal_crear_personal" onclick="crear_personal()"><i class="fa fa-plus-circle"></i> CREAR NUEVO PERSONAL</button>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      {# Creación de producto #}
      {% include 'personal/crear' %}
      {% include 'personal/editar' %}
      {#% include 'colegios/eliminar' %#}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block appFooter %}
<script src="views/app/js/personal/crear.js"></script>
<script src="views/app/js/personal/prueba.js"></script>
<!-- DataTables -->
<script src="views/theme/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="views/theme/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- page script -->
<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>

<script>
  /*Evento ejecutado al realizar click sobre el button "busqueda_criterio" */
  $('#busqueda_criterio_personal').click(function(e) {
  e.defaultPrevented;

  /*Nombre del crud*/
  var crud = "personal/";

  /*Criterio de busqueda , definido en el select "criterio" */
  var criterio = $("#criterio_personal").val().concat("/");

  /*Valor a buscar , escrito en el input "data"*/
  var valor = $("#data_personal").val();

  /*Link con todos los datos*/
  var busqueda=crud.concat(criterio).concat(valor);

  /*Redireccion al link*/
  location.href = busqueda;
  });
  </script>

{% endblock %}
