
    <div class="modal fade" id="modal_editar_sede">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Editar Guarderias</h4>
            </div>
            <div class="modal-body">
              <form role="form" id="editar_sede_form">
              <!-- text input -->
                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre..." name="nombre" id="id_nombre">
                  <label>Rif</label>
                  <input type="hidden" class="form-control" placeholder="RIF" name="rif" id="id_rif" >
                  <label>Telefono</label>
                  <input type="text" class="form-control" placeholder="Telefono" name="telefono" id="id_telefono">
                  <label>Costo</label>
                  <input type="text" class="form-control" placeholder="Costo" name="costo" id="id_costo">
                  <label>Encargado</label>
                  <select class="form-control select2" name="encargado"  data-placeholder="">
                      <option disabled selected value></option>
                  {% for t in personal %}
                      <option value="{{ t.id_personal }}">{{ t.nombre }} {{ t.apellidos }}</option>
                  {% endfor %}
                  </select>
                  <label>Lugar</label>
                  <select class="form-control select2" name="lugar"  id="lugar" data-placeholder="">
                      <option disabled selected value></option>
                  {% for r in lugar %}
                      <option value="{{ r.id_lugar }}">{{ r.nombre }}</option>
                  {% endfor %}
                  </select>
                </div>
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
              <button type="button" id="editar_sede" class="btn btn-primary">Editar Sede</button>
            </div>
          </div>
          <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
