{% extends 'overall/layout' %}
{% block appHeader %}
  <style>
    .example-modal .modal {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      display: block;
      z-index: 1;
    }

    .example-modal .modal {
      background: transparent !important;
    }
  </style>
{% endblock %}

{% block appBody %}
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        SEDES
        <small>Guarderia</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Sedes</a></li>
        <li class="active">Listado de Sedes</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Listado de Sedes</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
               <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                 <select id="criterio_sedes" class="select">
                    <option value="costo_3dias">Costo por tres dias</option>
                    <option value="costo_5dias">Costo por cinco dias</option>
                    <option value="nombre">Nombre</option>
                 </select>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-7">
                  <input type="text" class="form-control" placeholder="Introduce los datos a buscar" id="data_sedes">
                </div>

                <div class="col-xs-12 col-sm-2 col-md-2">
                   <button type="button" id="busqueda_criterio_sedes" class="btn btn-primary btn-lacra">Buscar</button>
                </div>
              </div>
              <div class="table-responsive">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Lugar</th>
                    <th>Encargado</th>
                    <th>Rif</th>
                    <th>Telefono</th>
                    <th>Costo</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for s in sedes %}
                      <tr>
                          <td>{{ s.nombre }} </td>
                          <td>{{ s.id_lugar }}</td>
                          <td>{{ s.id_enc }}</td>
                          <td>{{ s.rif }}</td>
                          <td>{{ s.telefonos }}</td>
                          <td>{{ s.costo }}</td>

                          <td><a type="button" data-toggle="modal" data-target="#modal_editar_sede" onclick="editar_sede('{{ s.nombre }}',{{ s.codigo_sede }},'{{ s.direccion }}','{{ s.fecha_apertura }}',{{ s.costo_3dias }},{{ s.costo_5dias }},'{{ s.calle }}','{{ s.urbanizacion }}','{{ s.ci_coord_tecni }}','{{ s.ci_coord_admin }}')"><i class="fa fa-edit"></i></a></td>
                          <td><a type="button" href="sedes/eliminar/{{ s.codigo_sede }}"><i class="fa fa-trash"></i></a></td>
                      </tr>
                  {% endfor %}
                  </tbody>
                </table>
                 <button type="button" class="btn btn-block btn-primary btn-flat" data-toggle="modal" data-target="#modal_crear_sedes"><i class="fa fa-plus-circle"></i> CREAR NUEVA SEDE</button>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      {# Creación de producto #}
      {% include 'sedes/crear' %}
      {% include 'sedes/editar' %}
      {#% include 'colegios/eliminar' %#}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block appFooter %}
<!-- page script -->
<script src="views/app/js/sedes/crear.js"> </script>
<script src="views/app/js/sedes/editar.js"></script>
<!-- DataTables -->
<script src="views/theme/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="views/theme/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
  $(function () {
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>



<script>
  /*Evento ejecutado al realizar click sobre el button "busqueda_criterio" */
  $('#busqueda_criterio_sedes').click(function(e) {
  e.defaultPrevented;

  /*Nombre del crud*/
  var crud = "sedes/";

  /*Criterio de busqueda , definido en el select "criterio" */
  var criterio = $("#criterio_sedes").val().concat("/");

  /*Valor a buscar , escrito en el input "data"*/
  var valor = $("#data_sedes").val();

  /*Link con todos los datos*/
  var busqueda=crud.concat(criterio).concat(valor);

  /*Redireccion al link*/
  location.href = busqueda;
  });
  </script>
{% endblock %}
