{% extends 'overall/layout' %}
{% block appHeader %}
  <!-- DataTables -->
  <link rel="stylesheet" href="views/theme/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <style>
    .example-modal .modal {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      display: block;
      z-index: 1;
    }

    .example-modal .modal {
      background: transparent !important;
    }
  </style>
{% endblock %}

{% block appBody %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        COLOR DE UNIFORMES
        <small>Escuela de fútbol 'Pasión de vida'</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Colores</a></li>
        <li class="active">Listado de Colores</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Listado de colores</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                 <select id="criterio_colores" class="select">
                    <option value="anio_ini_color">Año del inicio de la temporada</option> 
                    <option value="tipo">Tipo de uniforme</option> 
                    <option value="color_camisa">Color de la camisa</option>
                 </select>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-7">
                  <input type="text" class="form-control" placeholder="Introduce los datos a buscar" id="data_colores">
                </div>

                <div class="col-xs-12 col-sm-2 col-md-2">
                  <button type="button" id="busqueda_criterio_colores" class="btn btn-default btn-lacra">Buscar</button> 
                </div>
              </div>

              <div class="table-responsive">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Año de Inicio</th>
                    <th>Año Fin</th>
                    <th>Color Short</th>
                    <th>Color Camisa</th>
                    <th>Sede</th>
                    <th>Tipo</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for p in colores %}
                      <tr>
                          <td>{{ p.anio_ini_color }}</td>
                          <td>{{ p.anio_fin_color }}</td>
                          <td>{{ p.color_short }}</td>
                          <td>{{ p.color_camisa }}</td>
                          <td>{{ p.tipo }}</td>
                          <td>{{ p.nombre }}</td>
                          <td><a type="button" data-toggle="modal" data-target="#modal_editar_color" onclick="editar_color({{ p.anio_ini_color }}, {{ p.anio_fin_color }}, '{{ p.color_short }}', '{{ p.color_camisa }}', {{ p.codigo_producto }}, {{ p.tipo }})"><i class="fa fa-edit"></i></a></td>
                          <td><a type="button" href="colores/eliminar/{{ p.id_color }}"><i class="fa fa-trash"></i></a></td>
                      </tr>
                  {% endfor %}
                  </tbody>
                  
                </table>
                <button type="button" class="btn btn-block btn-primary btn-flat" data-toggle="modal" data-target="#modal_crear_color"><i class="fa fa-plus-circle"></i> CREAR NUEVO PRODUCTO</button>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      {# Creación de producto #}
      {% include 'colores/crear' %}
      {% include 'colores/editar' %}
      {#% include 'colegios/eliminar' %#}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block appFooter %}
<script src="views/app/js/colores/crear.js"></script>
<script src="views/app/js/colores/editar.js"></script>
<!-- DataTables -->
<script src="views/theme/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="views/theme/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- page script -->
<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>


<script>
  /*Evento ejecutado al realizar click sobre el button "busqueda_criterio" */
  $('#busqueda_criterio_colores').click(function(e) {
  e.defaultPrevented;
  
  /*Nombre del crud*/
  var crud = "colores/";
  
  /*Criterio de busqueda , definido en el select "criterio" */
  var criterio = $("#criterio_colores").val().concat("/");
  
  /*Valor a buscar , escrito en el input "data"*/
  var valor = $("#data_colores").val();
  
  /*Link con todos los datos*/
  var busqueda=crud.concat(criterio).concat(valor);
  
  /*Redireccion al link*/
  location.href = busqueda;
  });
  </script>

{% endblock %}
