<div class="modal fade" id="modal_crear_plan">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Crear plan</h4>
            </div>
            <div class="modal-body">
              <form role="form" id="crear_plan_form">
              <!-- text input -->
              <div class="form-group">
                <label>Duración</label>
                <input type="number" min="1" max="4" class="form-control" placeholder="" name="duracion">
                <label>Planes de Entrenamiento</label>
                <select class="form-control select2" name="plan"  data-placeholder="">
                        <option disabled selected value></option>
                    {% for p in planentrenamiento %}
                        <option value="{{ p.id_entrenamiento }}">{{ p.nombre }}</option>
                    {% endfor %}
                </select>
                <label>Categoría</label>
                <select class="form-control select2" name="categoria"  data-placeholder="">
                        <option disabled selected value></option>
                    {% for c in categorias %}
                        <option value="{{ c.nombre_categoria }}">{{ c.nombre_categoria }}</option>
                    {% endfor %}
                </select>
                <label>Posición</label>
                <select class="form-control select2" name="posicion"  data-placeholder="">
                        <option disabled selected value></option>
                    {% for po in posiciones %}
                        <option value="{{ po.codigo_posicion }}">{{ po.descripcion }}</option>
                    {% endfor %}
                </select>
                <label>Ejercicio</label>
                <select class="form-control select2" name="ejercicio"  data-placeholder="">
                        <option disabled selected value></option>
                    {% for e in ejercicios %}
                        <option value="{{ e.id_ejercicio }}">{{ e.descripcion }}</option>
                    {% endfor %}
                </select>
              </div>
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
              <button type="button" id="crear_plan" class="btn btn-primary">Crear plan</button>
            </div>
          </div>
          <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    
    