{% extends 'overall/layout' %}
{% block appHeader %}
  <!-- DataTables -->
  <link rel="stylesheet" href="views/theme/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <style>
    .example-modal .modal {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      display: block;
      z-index: 1;
    }

    .example-modal .modal {
      background: transparent !important;
    }
  </style>
{% endblock %}

{% block appBody %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        VENTAS
        <small>Escuela de fútbol 'Pasión de vida'</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Ventas</a></li>
        <li class="active">Listado de Ventas</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Listado de Facturas</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">


                <div class="row">
                    <form id="criterios_ventas_form">
                         <div class="col-xs-12 col-sm-6 col-md-3">
                          <input type="text" class="form-control" placeholder="Cedula representante" id="id_criterio_ventas_1" name="criterio_ventas_1">
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                          <input type="text" class="form-control" placeholder="ID Jugador" id="id_criterio_ventas_2" name="criterio_ventas_2">
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                          <input type="text" class="form-control"  placeholder="Nombre Sede" id="id_criterio_ventas_3" name="criterio_ventas_3">
                        </div>
                        <div class="col-xs-12 col-sm-2 col-md-2">
                           <button type="button" id="busqueda_criterios_ventas" class="btn btn-primary btn-lacra">Buscar</button>  
                        </div>
                    </form>
                    </div>


              <div class="table-responsive">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Numero factura</th>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Sede</th>
                    <th>Tipo uniforme</th>
                    <th>Representante</th>
                    <th>Representado</th>
                    <th>Acciones</th>
                  </thead>
                  <tbody id="ventas_body">
                  {% for v in ventas %}
                      <tr>
                          <td>{{ v.numero_factura }}</td>
                          <td>{{ fecha('D, d F, Y', v.fecha) }}</td>                       
                          <td>{{ v.cantidad }}</td>
                          <td>{{ v.nombresede }}</td>
                          {% if v.tipo_uniforme == 1 %}
                          <td>Entrenamiento</td>
                          {% elseif v.tipo_uniforme == 2 %}
                          <td>Partido</td>
                          {% endif %}
                          <td>{{ v.nombre }} {{ v.apellido }} {{ v.cedula_representante }}</td>
                          <td>{{ v.nombrej }} {{ v.apellidoj }} {{ v.id_jugador }}</td>

                          {% set foo = 0 %}
                          {% set foo2 = 0 %}
                          {% set foo3 = 0 %}
                          {% for ppf in pagos_por_facturas %}

                                {% if ppf.numero_factura == v.numero_factura %}
                                      {% set foo2 = ppf.cantidad_pagos %}
                                      {% set foo3 = ppf.monto_pagos %}
                                        {% if (ppf.cantidad_pagos == 3) or (ppf.monto_pagos >= (costo_uniforme * v.cantidad) ) %}
                                        {% set foo = 1 %}
                                        {% endif %}
                                {% endif %}

                          {% endfor %}
                          {% if foo == 0 %}
                          <td><button type="button" class="btn btn-block btn-primary btn-flat" data-toggle="modal" data-target="#modal_crear_pago" onclick="create_pago({{ v.cedula_representante }},{{ v.numero_factura }},{{ 0 }},{{ v.cantidad }},'{{ v.id_jugador }}',{{ foo2 }},{{ foo3 }},{{ costo_uniforme }},{{ v.tipo_uniforme }})"><i class="fa fa-plus-circle"></i> Pagar</button></td>
                          {% else %}
                          <td><button type="button" class="btn btn-block btn-primary btn-flat"  ><i class="fa fa-plus-circle"></i> Pagada</button></td>
                          {% endif %}
                          
                      </tr>
                  {% endfor %}
                  </tbody>
                </table>
                <button type="button" class="btn btn-block btn-primary btn-flat" data-toggle="modal" data-target="#modal_crear_venta"><i class="fa fa-plus-circle"></i> CREAR NUEVA FACTURA</button>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      {% include 'ventas/crear' %}
      {% include 'pagos/crear' %}
      {#% include 'colegios/eliminar' %#}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block appFooter %}
<script src="views/app/js/ventas/crear.js"></script>
<script src="views/app/js/pagos/crear.js"></script>

<!-- DataTables -->
<script src="views/theme/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="views/theme/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- page script -->
<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>


<script>
    /*Evento ejecutado al realizar click sobre el button "busqueda_criterio" */
    $('#busqueda_criterios_ventas').click(function(e) {
    e.defaultPrevented;
    
    $.ajax({
      type : "GET",
      url : "api/ventas/criterios",
      data : $("#criterios_ventas_form").serialize(),
      success: function(json){
        $("#ventas_body").empty();
        for (var i = 0; i < json.length; i++){


          if( (json[i].pagado == (json[i].cantidad*json[i].costouniforme)) | json[i].total==3){
            $("#ventas_body").append(`
            <tr>
                <td>${ json[i].numero_factura }</td>
                <td>${ json[i].fecha }</td>                       
                <td>${ json[i].cantidad }</td>
                <td>${ json[i].nombresede }</td>
                <td>${ json[i].tipo_uniforme }</td>
                <td>${ json[i].nombre } ${ json[i].apellido } ${ json[i].cedula_representante }</td>
                <td>${ json[i].nombrej } ${ json[i].apellidoj } ${ json[i].id_jugador }</td>

                <td><button type="button" class="btn btn-block btn-primary btn-flat"  ><i class="fa fa-plus-circle"></i> Pagada</button></td>


                
            </tr>
            `);
          }else{
            $("#ventas_body").append(`
            <tr>
                <td>${ json[i].numero_factura }</td>
                <td>${ json[i].fecha }</td>                       
                <td>${ json[i].cantidad }</td>
                <td>${ json[i].nombresede }</td>
                <td>${ json[i].tipo_uniforme }</td>
                <td>${ json[i].nombre } ${ json[i].apellido } ${ json[i].cedula_representante }</td>
                <td>${ json[i].nombrej } ${ json[i].apellidoj } ${ json[i].id_jugador }</td>

                <td><button type="button" class="btn btn-block btn-primary btn-flat" data-toggle="modal" data-target="#modal_crear_pago" onclick="create_pago(${ json[i].cedula_representante },${ json[i].numero_factura },${ 0 },${ json[i].cantidad },'${ json[i].id_jugador }',${ json[i].total },${ json[i].pagado },${ json[i].costouniforme },${ json[i].tipo_uniforme })"><i class="fa fa-plus-circle"></i> Pagar</button></td>

                
            </tr>
            `);
          }

        }

      },
      error : function(xhr, status) {
        alert('Ha ocurrido un problema.');
      }
    })
    });
    </script>
{% endblock %}
