{% extends 'overall/layout' %}
{% block appHeader %}
  <!-- DataTables -->
  <link rel="stylesheet" href="views/theme/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <style>
    .example-modal .modal {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      display: block;
      z-index: 1;
    }

    .example-modal .modal {
      background: transparent !important;
    }
  </style>
{% endblock %}

{% block appBody %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Asistencias
        <small>Guarderia</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Asistencias</a></li>
        <li class="active">Listado de Asistencias</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Listado de Asistencias</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                 <select id="criterio_asistencias" class="select">
                      <option value="cedula_asistencia">Cedula</option>
                      <option value="nombre">Nombre</option>
                      <option value="sexo">Sexo</option>
                   </select>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-7">
                  <input type="text" class="form-control" placeholder="Introduce los datos a buscar" id="data_asistencias">
                </div>

                <div class="col-xs-12 col-sm-2 col-md-2">
                   <button type="button" id="busqueda_criterio_asistencias" class="btn btn-primary btn-lacra">Buscar</button>
                </div>
              </div>
              <div class="table-responsive">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>id_padre</th>
                    <th>id_autorizado</th>
                    <th>id_inscripción</th>
                    <th>hora_llegada</th>
                    <th>hora_salida</th>
                    <th>dia</th>
                    <th>comió</th>

                  </thead>
                  <tbody>
                  {% for r in asistencia %}
                      <tr>
                          <td>{{ r.id_padre }}</td>
                          <td>{{ c.id_autorizado }}</td>
                          <td>{{ r.id_inscripción }}</td>
                          <td>{{ r.hora_llegada }}</td>
                          <td>{{ r.hora_salida }}</td>
                          <td>{{ r.dia }}</td>
                          <td>{{ r.comio }}</td>
                      </tr>
                  {% endfor %}
                  </tbody>
                </table>
                <button type="button" class="btn btn-block btn-primary btn-flat" data-toggle="modal" data-target="#modal_crear_asistencia"><i class="fa fa-plus-circle"></i> CREAR NUEVA ASISTENCIA</button>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block appFooter %}
<!-- DataTables -->
<script src="views/theme/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="views/theme/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- page script -->
<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>


<script>
/*Evento ejecutado al realizar click sobre el button "busqueda_criterio" */
$('#busqueda_criterio_asistencias').click(function(e) {
e.defaultPrevented;

/*Nombre del crud*/
var crud = "asistencias/";

/*Criterio de busqueda , definido en el select "criterio" */
var criterio = $("#criterio_asistencias").val().concat("/");

/*Valor a buscar , escrito en el input "data"*/
var valor = $("#data_asistencias").val();

/*Link con todos los datos*/
var busqueda=crud.concat(criterio).concat(valor);

/*Redireccion al link*/
location.href = busqueda;
});
</script>


{% endblock %}
