{% extends 'overall/layout' %}
{% block appHeader %}
  <style>
    .example-modal .modal {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      display: block;
      z-index: 1;
    }

    .example-modal .modal {
      background: transparent !important;
    }
  </style>
{% endblock %}

{% block appBody %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        LUGARES
        <small>Escuela de fútbol 'Pasión de vida'</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Lugares</a></li>
        <li class="active">Listado de Lugares</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Listado de Lugares</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                <select id="criterio_ciudad" class="select">
                  <option value="nombrec">Nombre</option> 
                  <option value="nombrel">Letra final del nombre</option> 
                  <option value="nombre">Nombre de la sede</option>
               </select>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-7">
                  <input type="text" class="form-control" placeholder="Introduce los datos a buscar" id="data_ciudad">
                </div>

                <div class="col-xs-12 col-sm-2 col-md-2">
                   <button type="button" id="busqueda_criterio_ciudad" class="btn btn-primary btn-lacra">Buscar</button>
                </div>
              </div>
              <div class="table-responsive">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Codigo</th>
                      <th>Nombre</th>
                      <th>Editar</th>
                      <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in lugares %}
                      <tr>
                        <td>{{ p.codigo_ciudad }}</td>
                        <td>{{ p.nombre }}</td>
                        <td><a type="button" data-toggle="modal" data-target="#modal-default-editar" onclick="editar_lugares({{ p.codigo_ciudad }},'{{ p.nombre }}',{{ p.codigo_estado }})"><i class="fa fa-edit"></i></a></td>
                        <td><a type="button" href="lugares/eliminar/{{ p.codigo_ciudad }}"><i class="fa fa-trash"></i></a></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                </table>
                 <button type="button" class="btn btn-block btn-primary btn-flat" data-toggle="modal" data-target="#modal-default" onclick="crear_lugar()"><i class="fa fa-plus-circle"></i> CREAR NUEVO PERSONAL</button>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      {# Creación de colegio #}
      {% include 'lugares/crear' %}
      {% include 'lugares/editar' %}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block appFooter %}
<!-- page script -->
<script src="views/app/js/lugares/crear.js"></script>
<script src="views/app/js/lugares/editar.js"></script>
<!-- DataTables -->
<script src="views/theme/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="views/theme/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
  $(function () {
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>


<script>
  /*Evento ejecutado al realizar click sobre el button "busqueda_criterio" */
  $('#busqueda_criterio_ciudad').click(function(e) {
  e.defaultPrevented;
  
  /*Nombre del crud*/
  var crud = "lugares/";
  
  /*Criterio de busqueda , definido en el select "criterio" */
  var criterio = $("#criterio_ciudad").val().concat("/");
  
  /*Valor a buscar , escrito en el input "data"*/
  var valor = $("#data_ciudad").val();
  
  /*Link con todos los datos*/
  var busqueda=crud.concat(criterio).concat(valor);
  
  /*Redireccion al link*/
  location.href = busqueda;
  });
  </script>
{% endblock %}
