{% extends 'overall/layout' %}
{% block appHeader %}
  <style>
    .example-modal .modal {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      display: block;
      z-index: 1;
    }

    .example-modal .modal {
      background: transparent !important;
    }
  </style>
{% endblock %}

{% block appBody %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        PARTIDOS
        <small>Escuela de fútbol 'Pasión de vida'</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="home"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Creación de calendario de partidos</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Creación de calendario de partidos</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                  <div class="row">
                      <form id="busqueda_form">
                          <div class="col-xs-12 col-sm-6 col-md-3">
                            <input type="text" class="form-control" placeholder="Equipo" id="equipo_criterio" name="equipo_criterio">
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3">
                            <input type="text" class="form-control" placeholder="Jugador" id="jugador_criterio" name="jugador_criterio">
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3">
                            <input type="text" class="form-control" placeholder="Promedio academico de un Jugador" id="promedio_criterio" name="promedio_criterio">
                          </div>
                          <div class="col-xs-12 col-sm-2 col-md-2">
                             <button type="button" id="busqueda_criterio" class="btn btn-primary btn-lacra" onclick="busqueda()">Buscar</button>  
                          </div>
                      </form>
                  </div>
              </div>
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th style="width:40%;">Temporada</th>
                  <th style="width:40%;">Equipo Local</th>
                  <th style="width:40%;">Equipo Visitante</th>
                  <th style="width:10%;">Duración</th>
                  <th style="width:10%;">Goles Local</th>
                  <th style="width:10%;">Goles Visitante</th>
                  <th>Editar</th>
                </tr>
                </thead>
                <tbody id="partidos_body">
                {% for p in partidos %}
                  <tr>
                    <td>{{ p.anio_ini_partido }}-{{ p.anio_fin_partido }}</td>
                    <td>{{ p.nombre_local }}</td>
                    <td>{{ p.nombre_visitante }}</td>
                    <td>{{ p.duracion }}</td>
                    <td>{{ p.goles_local }}</td>
                    <td>{{ p.goles_visitante }}</td>
                    <td><a type="button" data-toggle="modal" data-target="#modal-editar-partido" onclick="editar_partido({{ p.goles_local }}, {{ p.goles_visitante }}, {{ p.duracion }}, {{ p.id_partido }})"><i class="fa fa-edit"></i></a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
               <button type="button" class="btn btn-block btn-primary btn-flat" data-toggle="modal" data-target="#modal-crear-partido"><i class="fa fa-plus-circle"></i> CREAR PARTIDO</button>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      {# Creación de colegio #}
      {% include 'partidos/crear' %}
      {% include 'partidos/editar' %}
      {% include 'partidos/agregar_partido' %}
      {% include 'partidos/agregar_gol' %}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block appFooter %}
<!-- page script -->
<script src="views/app/js/partidos/crear.js"></script>
<script src="views/app/js/partidos/editar.js"></script>
<!-- DataTables -->
<script src="views/theme/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="views/theme/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
  $(function () {
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>



<script>
  /*Evento ejecutado al realizar click sobre el button "busqueda_criterio" */
  $('#busqueda_criterio_categorias').click(function(e) {
  e.defaultPrevented;
  
  /*Nombre del crud*/
  var crud = "categorias/";
  
  /*Criterio de busqueda , definido en el select "criterio" */
  var criterio = $("#criterio_categorias").val().concat("/");
  
  /*Valor a buscar , escrito en el input "data"*/
  var valor = $("#data_categorias").val();
  
  /*Link con todos los datos*/
  var busqueda=crud.concat(criterio).concat(valor);
  
  /*Redireccion al link*/
  location.href = busqueda;
  });
  </script>
{% endblock %}
