<div class="modal fade" id="modal_crear_nino">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Crear Ni単o</h4>
        </div>
        <div class="modal-body">
          <form role="form" id="crear_nino_form">
          <!-- text input -->
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" name="nombre">

            <label>Apellido</label>
            <input type="text" class="form-control" placeholder="Apellido" name="apellido">

            <label>Fecha de nacimiento</label>
            <input type="date" class="form-control" placeholder="Fecha de nacimiento" name="fecha_nac">

            <label>Letra</label>
            <input type="hidden" class="form-control" placeholder="Letra" name="letra" value="">

            <div class="form-group">
                <label>Sexo</label> <br>
                <input type="radio" id="id_sexo_hombre" checked="true" name="sexo" value="M">
                <label for="id_sexo_hombre">Hombre</label>
                <input type="radio" id="id_sexo_mujer" name="sexo" value="F">
                <label for="id_sexo_mujer">Mujer</label>
            </div>

            <label>Representante del ni単o (Principal)</label>
            <select class="select2 form-control" name="cedula"  data-placeholder="Representantes">
                    {% for c in representante %}
                    <option value="{{ c.cedula }}">Nombre y Apellido: {{ c.nombre }} {{ c.apellido }}- Cedula: {{ c.cedula }}</option>
                    {% endfor %}
            </select>

            <label>Representante del ni単o (Opcional)</label>
            <select class="select2 form-control" name="cedula2"  data-placeholder="Representantes">
                    {% for c in representante %}
                    <option value="{{ c.cedula }}">Nombre y Apellido : {{ c.nombre }} {{ c.apellido }} - Cedula: {{ c.cedula }}</option>
                    {% endfor %}
            </select>

            <label>Enfermedades</label>
            <select class="select2 form-control" name="enfermedades[]"  data-placeholder="Enfermedades" multiple="multiple">
                    {% for e in enfermedades %}
                    <option value="{{ e.id_enfermedad }}"> {{ e.descripcion }}</option>
                    {% endfor %}
            </select>

            <label>Juegos</label>
            <select class="select2 form-control" name="juegos[]"  data-placeholder="Juegos" multiple="multiple">
                    {% for j in juegos %}
                    <option value="{{ j.id_juego }}"> {{ j.descripcion }}</option>
                    {% endfor %}
            </select>

          </div>
         </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
          <button type="button" id="crear_nino" class="btn btn-primary">Crear Ni単o</button>
        </div>
      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

