<div class="modal fade" id="modal_crear_nino">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Crear Niño</h4>
        </div>
        <div class="modal-body">
          <form role="form" id="crear_nino_form">
          <!-- text input -->
          <div class="form-group">

            <div class="row">
              <div class="col-lg-6">
                <label>Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre" name="nombre">
                   <label>Fecha de nacimiento</label>
                   <input type="date" class="form-control" placeholder="Fecha de nacimiento" name="fecha_nac">
              </div>
              <div class="col-lg-6">
                <label>Apellido</label>
                  <input type="text" class="form-control" placeholder="Apellido" name="apellido">
                  <label style="margin-bottom: 10px;">Sexo</label> <br>
                  <input type="radio" id="id_sexo_hombre" checked="true" name="sexo" value="M">
                  <label for="id_sexo_hombre">Hombre</label>
                  <input type="radio" id="id_sexo_mujer" name="sexo" value="F">
                  <label for="id_sexo_mujer">Mujer</label>
              </div>
            </div>

            <input type="hidden" class="form-control" placeholder="Letra" name="letra" value="">

            <div class="row">
              <div class="col-lg-6">
                <label>Representante (Principal)</label>
                  <select class="select2 form-control" name="cedula"  data-placeholder="Representantes">
                          {% for c in representante %}
                          <option value="{{ c.cedula }}">Nombre: {{ c.nombre }} - C.I: {{ c.cedula }}</option>
                          {% endfor %}
                  </select>

                <label>Enfermedades</label>
                  <select class="select2 form-control" name="enfermedades[]" onchange="add_fecha()" data-placeholder="Enfermedades" multiple="multiple">
                          {% for e in enfermedades %}
                          <option value="{{ e.id_enfermedad }}"> {{ e.descripcion }}</option>
                          {% endfor %}
                  </select>

                  <div class="form-group" id="fechas">
                    
                   </div>

                <label>Alergias</label>
                  <select class="select2 form-control" name="alergias[]"  data-placeholder="Alergias" multiple="multiple">
                          {% for a in alergias %}
                          <option value="{{ a.id_alergia }}"> {{ a.descripcion }}</option>
                          {% endfor %}
                  </select>
              </div>
              <div class="col-lg-6">
                <label>Representante (Secundario)</label>
                <select class="select2 form-control" name="cedula2"  data-placeholder="Representantes">
                        <option value="0">No tiene autorizados</option>
                        {% for c in representante %}
                        <option value="{{ c.cedula }}">Nombre: {{ c.nombre }} - C.I: {{ c.cedula }}</option>
                        {% endfor %}
                </select>

                <label>Medicamentos</label>
                  <select class="select2 form-control" name="medicinas[]"  data-placeholder="Medicinas" multiple="multiple">
                          {% for m in medicinas %}
                          <option value="{{ m.id_medicina }}"> {{ m.descripcion }}</option>
                          {% endfor %}
                  </select>

                  <label>Juegos</label>
                  <select class="select2 form-control" name="juegos[]"  data-placeholder="Juegos" multiple="multiple">
                          {% for j in juegos %}
                          <option value="{{ j.id_juego }}"> {{ j.descripcion }}</option>
                          {% endfor %}
                  </select>
              </div>
            </div>
            <label>Autorizado</label>

              <select class="select2 form-control" name="autorizados[]"  data-placeholder="Autorizados">
                  <option>No tiene autorizados</option>
                  {% for z in autorizado %}
                    <option value="{{ z.id_autorizado }}">Nombre: {{ z.nombre }} - C.I: {{ z.cedula }}</option>
                  {% endfor %}
              </select>
          </div>
         </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
          <button type="button" id="crear_nino" class="btn btn-primary">Crear Niño</button>
        </div>
      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

