{% extends 'overall/layout' %}
{% block appHeader %}
  <style>
    .example-modal .modal {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      display: block;
      z-index: 1;
    }

    .example-modal .modal {
      background: transparent !important;
    }
  </style>
{% endblock %}

{% block appBody %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        CATEGORÍA
        <small>Escuela de fútbol 'Pasión de vida'</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Categorias</a></li>
        <li class="active">Listado de Categoria</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Listado de Categorias</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                <select id="criterio_categorias" class="select">
                  <option value="nombre_categoria">Nombre</option> 
                  <option value="año_nacimiento">Año de nacimiento</option> 
                  <option value="alumno">Alumno</option>
                </select>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-7">
                 <input type="text" class="form-control" placeholder="Introduce los datos a buscar" id="data_categorias">
                </div>

                <div class="col-xs-12 col-sm-2 col-md-2">
                  <button type="button" id="busqueda_criterio_categorias" class="btn btn-primary btn-lacra">Buscar</button>  
                </div>
              </div>
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th style="width:75%;">Nombre</th>
                  <th style="width:75%;">Año de Nacimiento</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
                </tr>
                </thead>
                <tbody>
                {% for c in categorias %}
                  <tr>
                    <td>{{ c.nombre_categoria }}</td>
                    <td>{{ c.año_nacimiento }}</td>
                    <td><a type="button" data-toggle="modal" data-target="#modal-default-editar" onclick="editar_categoria('{{ c.nombre_categoria }}','{{ c.año_nacimiento }}')"><i class="fa fa-edit"></i></a></td>
                    <td><a type="button" href="categorias/eliminar/{{ c.nombre_categoria }}"><i class="fa fa-trash"></i></a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <button type="button" class="btn btn-block btn-primary btn-flat" data-toggle="modal" data-target="#modal-default" onclick="crear_categoria()"><i class="fa fa-plus-circle"></i> CREAR NUEVA CATEGORIA</button>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      {# Creación de colegio #}
      {% include 'categorias/crear' %}
      {% include 'categorias/editar' %}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block appFooter %}
<!-- page script -->
<script src="views/app/js/categorias/crear.js"></script>
<script src="views/app/js/categorias/editar.js"></script>
<!-- DataTables -->
<script src="views/theme/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="views/theme/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
  $(function () {
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>



<script>
  /*Evento ejecutado al realizar click sobre el button "busqueda_criterio" */
  $('#busqueda_criterio_categorias').click(function(e) {
  e.defaultPrevented;
  
  /*Nombre del crud*/
  var crud = "categorias/";
  
  /*Criterio de busqueda , definido en el select "criterio" */
  var criterio = $("#criterio_categorias").val().concat("/");
  
  /*Valor a buscar , escrito en el input "data"*/
  var valor = $("#data_categorias").val();
  
  /*Link con todos los datos*/
  var busqueda=crud.concat(criterio).concat(valor);
  
  /*Redireccion al link*/
  location.href = busqueda;
  });
  </script>
{% endblock %}
